@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spirax&display=swap');


@keyframes floating1 {
  0% { transform: translate(0, 0); }
  25% { transform: translate(30px, -50px); }
  50% { transform: translate(-30px, 50px); }
  75% { transform: translate(50px, 30px); }
  100% { transform: translate(0, 0); }
}

@keyframes floating2 {
  0% { transform: translate(0, 0); }
  20% { transform: translate(-40px, 30px); }
  40% { transform: translate(40px, -30px); }
  60% { transform: translate(-20px, -50px); }
  80% { transform: translate(50px, 10px); }
  100% { transform: translate(0, 0); }
}

@keyframes floating3 {
  0% { transform: translate(0, 0); }
  30% { transform: translate(50px, 50px); }
  60% { transform: translate(-50px, -50px); }
  100% { transform: translate(0, 0); }
}

.animate-floating1 {
  animation: floating1 6s infinite ease-in-out;
}

.animate-floating2 {
  animation: floating2 8s infinite ease-in-out;
}

.animate-floating3 {
  animation: floating3 10s infinite ease-in-out;
}


body {
  font-family: "Poppins", sans-serif;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent #185BCE #185BCE;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
    
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    

/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
